body{
    background: rgb(228, 226, 226);
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: white;
    padding: 10px;
}
header h1 {
    margin: 0;
}
div.post{
    background: white;
    margin-top: 30px;
}
div.post img{
    width: 100%;
}

div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}
div.post h2, div.post p{
    padding: 10px;
    margin: auto;
}
div.container{
    width: 700px;
    margin: auto;
    padding: 30px;
}
/* */